pkgbase = mathmark
	pkgdesc = Reader for maths written in Markdown: formulas as in textbooks, marking changes one byte
	pkgver = 1.1
	pkgrel = 1
	url = https://github.com/VolkinstridoV/mathmark
	arch = any
	license = MIT
	makedepends = git
	depends = python
	depends = python-gobject
	depends = gtk4
	depends = libadwaita
	depends = webkitgtk-6.0
	optdepends = python-pytest: for running the test suite
	source = mathmark-1.1.tar.gz::https://github.com/VolkinstridoV/mathmark/archive/refs/tags/v1.1.tar.gz
	sha256sums = ec9db0f0be5e3497ada72ab21f7e345d3181b4cc3ccd4cd589c324152df6eecb

pkgname = mathmark
