pkgbase = mathmark
	pkgdesc = Reader for maths written in Markdown: formulas as in textbooks, marking changes one byte
	pkgver = 1.4.1
	pkgrel = 1
	url = https://github.com/VolkinstridoV/mathmark
	arch = any
	license = MIT
	makedepends = git
	depends = python
	depends = python-gobject
	depends = python-sympy
	depends = gtk4
	depends = libadwaita
	depends = webkitgtk-6.0
	optdepends = python-pytest: for running the test suite
	source = mathmark-1.4.1.tar.gz::https://github.com/VolkinstridoV/mathmark/archive/refs/tags/v1.4.1.tar.gz
	sha256sums = 73f07538aa27a7cde87edbb15f05679c69accbd872836283a1fe80964cbf9ac9

pkgname = mathmark
