pkgbase = mathmark
	pkgdesc = Reader for maths written in Markdown: formulas as in textbooks, marking changes one byte
	pkgver = 1.4.1
	pkgrel = 1
	url = https://github.com/VolkinstridoV/mathmark
	arch = any
	license = MIT
	makedepends = git
	depends = python
	depends = python-gobject
	depends = python-sympy
	depends = gtk4
	depends = libadwaita
	depends = webkitgtk-6.0
	optdepends = python-pytest: for running the test suite
	source = mathmark-1.4.1.tar.gz::https://github.com/VolkinstridoV/mathmark/archive/refs/tags/v1.4.1.tar.gz
	sha256sums = 50b039c4f89d785cb0a7811c81330c83cdb183803668d0f382d86693b46367f3

pkgname = mathmark
